* {
    background-color: #eee;
}
#heading {
    font-family: monospace, sans-serif;
    font-size: 40px;
    color: rgb(206 151 62);
    text-align: center;
}

.un-list {
    color: rgb(224 160 62);
    font-size: 18px;
    font-weight: 600;
}

